@using MyPage.Models.Entity
@model List<About>


<section class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="col-md-12">
                        @foreach (var item in Model)
                        {
                            <div class="about-desc">
                                <h2 class="colorlib-heading">Hakkımda</h2>
                                <p><strong>Merhaba ! Ben  @item.NameSurname.Substring(0, 5)</strong> @item.Description</p>
                                <p>@item.DescriptionSmall</p>
                            </div>
                        }
                    </div>
                    @Html.Action("partialAboutSkill")
                </div>
            </div>
        </div>
    </div>
</section>
