@using MyPage.Models.Entity
@model List<Experience>


<section class="colorlib-experience" data-section="experience">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="colorlib-heading animate-box">İş Hayatım</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-centered">
                    @foreach (var item in Model)
                    {
                        <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                            <div class="timeline-entry-inner">
                                <div class="timeline-icon color-3">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </div>
                               
                                <div class="timeline-label">
                                    <span>@item.Name</span>
                                    <h2><a>@item.Location</a> <span>@item.Year</span></h2>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </article>
                    }


                    <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon color-none">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
