@using MyPage.Models.Entity
@model List<Skill>


<section class="colorlib-skills" data-section="skills">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="colorlib-heading animate-box">Becerilerim</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 animate-box">
                    <div class="progress-wrap">
                        <h3>@item.Header</h3>
                        <div class="progress">
                            <div class="progress-bar @item.Color" role="progressbar" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100" style="width:@item.Point%">
                                <span>@item.Point %<span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
