<section id="colorlib-hero" class="js-fullheight" data-section="home">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(/Template/MasterYU/images/kapak.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                            <div class="slider-text-inner js-fullheight">
                                <div class="desc">
                                    <h1>Merhaba ! </h1>
                                    <br />
                                    <h1>Ben Ömer </h1>
                                    <br />


                                    <p><a  download href="https://drive.google.com/file/d/1Sr71iAcElubT9rOX0MJtMLdo6n1GHeB9/view?usp=sharing" class="btn btn-primary btn-learn" >CV İndir <i class="icon-download4"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
